<h1>Exmplo de componentes Progress bar</h1>

<h2>Progress bar e Spinner</h2>
<mat-progress-bar [value]="loadingPercent" color="primary"></mat-progress-bar>
<br>
<mat-progress-bar [value]="loadingPercent" color="accent"></mat-progress-bar>
<br>
<mat-progress-bar [value]="loadingPercent" color="warn"></mat-progress-bar>

<br>
<h2>Loading</h2>
<mat-progress-bar
  [value]="queryValue"
  [mode]="queryMode"
  color="warn"></mat-progress-bar>
<br>

<br>
<h2>Playback</h2>
<mat-progress-bar
  mode="buffer"
  [value]="loadingPercent"
  [bufferValue]="currentPlayback"
  color="primary"></mat-progress-bar>
<br>

<br>
<h2>Spinner</h2>
<mat-spinner color="primary"></mat-spinner>
<mat-spinner color="accent"></mat-spinner>
<mat-spinner color="warn"></mat-spinner>

<br>
<h2>Progress spinner</h2>
<mat-progress-spinner
  [value]="loadingPercent"
  color="warn">
</mat-progress-spinner>
